<h1 class="page-header">Register Here</h1>

<form [formGroup]="form" class="col-md-12" (submit)="onRegisterSubmit()">
  <div class="form-group col-md-6">
    <label for="username">Username</label>
    <div [ngClass]="{'has-error':(form.controls.username.errors && form.controls.username.dirty),'has-success':(!form.controls.username.errors)}">
      <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username"
      />
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
          This field is required
        </li>
        <li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength && form.controls.username.dirty">Minimum character:3,Maximum character:15</li>
        <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have special character</li>
      </ul>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label for="email">Email</label>
    <div [ngClass]="{'has-error':(form.controls.email.errors && form.controls.email.dirty),'has-success':(!form.controls.email.errors)}">
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" />
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">
          This field is required
        </li>
        <li *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength && form.controls.email.dirty">Minimum character:3,Maximum character:30</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Please enter valid e-mail</li>
      </ul>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label for="password">Password</label>
    <div [ngClass]="{'has-error':(form.controls.password.errors && form.controls.password.dirty),'has-success':(!form.controls.password.errors)}">
      <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password"
      />
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
          This field is required
        </li>
        <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength && form.controls.password.dirty">Minimum character:5,Maximum character:25</li>
        <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must have one uppercase, one lowercase, one number and special character</li>
      </ul>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label for="confirm">Confirm Password</label>
    <div [ngClass]="{'has-error':(form.controls.confirm.errors && form.controls.confirm.dirty)||(form.errors?.matchingPassword && form.controls.confirm.dirty),'has-success':(!form.controls.confirm.errors)}">
      <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm"
      />
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">
          This field is required
        </li>
        <li *ngIf="form.errors?.matchingPassword && form.controls.confirm.dirty">
          Password do not match
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Submit" />
    <input type="reset" class="btn btn-default" value="Reset" />
  </div>

</form>
<!--
<p>Username:{{ form.controls.username.value }}</p>
<p>Password:{{ form.controls.password.value }}</p>
<p>Email:{{ form.controls.email.value }}</p>-->